<h1>Mongo Admin</h1><br />

<h3>
	<a href="/collections">collections</a> > 
	{{collection}}
</h3><br />

<form action="/collections/{{collection}}/new">
	<textarea rows="10" cols="100">

	</textarea>
	<br />
	<input type="submit" class="btn" value="Submit"/>
</form>