<h1>{{title}}</h2><br />
<form class="form-horizontal" action="/contact" method="post">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Subject</label>
    <div class="controls">
      <input type="text" name="subject" id="inputEmail" placeholder="Subject">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <textarea type="password" name="message" id="inputPassword" placeholder="Message"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Send</button>
    </div>
  </div>
</form>